
.toggle-checkbox {
  &:checked {
    @apply right-0 border-green-400;
    border-color: #68D391;
  }
}

.toggle-checkbox:checked + .toggle-label {
    @apply bg-green-400;
    background-color: #68D391;
  }

.toggle-checkbox:checked + .submit-button {
  &:hover {
    background-color: #68D391;
  }
  background-color: #3c7a54;
}

.submit-successful {
  background-color: #68D391;
}

input:invalid:required + .invalid {
  @apply block
}

input:valid + .invalid {
  @apply hidden
}