.slider {
    animation-name: fading;
    animation-duration: 5s;
    // animation-delay: 3s;
  }
  
  @keyframes fading {
    0%   {opacity: 0.0;}
    20%  {opacity: 1.0;}
    80%  {opacity: 1.0;}
    100% {opacity: 0.0;}
  }