/* purgecss start ignore */
@tailwind  base;
@tailwind  components;
/* purgecss end ignore */

@tailwind utilities;

* { a:active, a:focus { outline: none; }
    button { outline: none; }
    input, textarea {outline:none;}
    input:active, textarea:active {outline:none;}
    :focus {outline:none;}
    textarea {resize:none;}
    textarea {resize:vertical;}
    textarea {resize:horizontal;}
  }

.home-top-slider {
  animation-name: fading;
  animation-duration: 5s;
}

@keyframes fading {
  0%   {opacity: 0.0;}
  20%  {opacity: 1.0;}
  80%  {opacity: 1.0;}
  100% {opacity: 0.0;}
}

.testimonials-slider {
  animation-name: sliding;
  animation-duration: 5s;
  // animation-delay: 0s;
}

@keyframes sliding {
  0%   {right:-600px;}
  20%  {right:0px}
  50%  {right:0px}
  80%  {right:0px}
  100% {right:600px;}
}

figure::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .team-image {
    object-position: 0 20%;
  }
}